# Spaceship Titanic - 'model' Model

## Overview

The Spaceship Titanic was an interstellar passenger liner launched a month ago. With almost 13,000 passengers on board, 
the vessel set out on its maiden voyage transporting emigrants from our solar system to three newly habitable exoplanets 
orbiting nearby stars.

While rounding Alpha Centauri en route to its first destination—the torrid 55 Cancri E—the unwary Spaceship Titanic
collided with a spacetime anomaly hidden within a dust cloud. Sadly, it met a similar fate as its namesake from 1000
years before. Though the ship stayed intact, almost half of the passengers were transported to an alternate dimension!

In this competition your task is to predict whether a passenger was transported to an alternate dimension during the 
Spaceship Titanic's collision with the spacetime anomaly. To help you make these predictions, you're given a set of personal
records recovered from the ship's damaged computer system.

## File and Data Field Descriptions

### train.csv 

Personal records for about two-thirds (~8700) of the passengers, to be used as training data.

Sure! Here's the code converted to a markdown table:

| Column Name | Description |
|------------- |-------------|
| `PassengerId` | A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always. |
| `HomePlanet` | The planet the passenger departed from, typically their planet of permanent residence. |
| `CryoSleep` | Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins. |
| `Cabin` | The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard. |
| `Destination` | The planet the passenger will be debarking to. |
| `Age` | The age of the passenger. |
| `VIP` | Whether the passenger has paid for special VIP service during the voyage. |
| `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, `VRDeck` | Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities. |
| `Name` | The first and last names of the passenger. |
| `Transported` | Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict. |

### test.csv

Personal records for the remaining one-third (~4300) of the passengers, to be used as test data. 

Your task is to predict the value of Transported for the passengers in this set.
    
### sample_submission.csv

A sample submission file in the correct format.

| Column Name | Description |
|------------- |-------------|
| `PassengerId` | A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always. |
| `Transported` | Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict. |

In [ ]:
model='model'

In [46]:
# Library imports

# Data wrangling
import pandas as pd
import numpy as np
import missingno
from collections import Counter

# Data visualisation
import seaborn as sns
import matplotlib.pyplot as plt

# Preprocessing
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Machine learning models
from sklearn.linear_model import LogisticRegression, Perceptron, SGDClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

# Model evaluation
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score

# Hyperparameter tuning
from sklearn.model_selection import GridSearchCV

# Remove warnings
import warnings
warnings.filterwarnings('ignore')

# Data preprocessing

## Drop unrequired features & add engineered ones

In [47]:
# Load the data - to pandas dataframes

test_df = pd.read_csv('./inputs/test.csv')
test_idx = test_df['PassengerId']
train_df = pd.read_csv('./inputs/train.csv')

In [48]:
# split name into components
def split_name(name:str):
    if pd.isnull(name): # protect against empty values
        return (np.nan, np.nan, np.nan)
    parts = name.split(' ')
    first = parts[0]
    last = parts[-1]
    return (first, last)

# split cabin into components
def split_cabin(name:str):
    if pd.isnull(name): # protect against empty values
        return (np.nan, np.nan, np.nan)
    parts = name.split('/')
    deck = parts[0]
    side = parts[-1]
    number = ' '.join(parts[1:-1])
    return (deck, number, side)

# This function will drop and add required features
def feature_manipulation(d : pd.DataFrame) -> pd.DataFrame:
    # print the shape of the provided dataframe
    print("Before: ", d.shape)
    # Clone the provided dataframe
    df = d.copy()

    _, df['Name'] = zip(*df['Name'].map(split_name))
    
    # Location
    df['Deck'], _, df['Side'] = zip(*df['Cabin'].map(split_cabin))
    df['DeckSide'] = df['Deck'] + df['Side'] # Combine Deck and Side

    # Group related columns
    df['Group'] = df['PassengerId'].map(lambda x: x.split('_')[0])
    df['GroupSize'] = df['Group'].map(df['Group'].value_counts())
    
    # Need to do it this way to treat NaN as 0 otherwise any NaN will make the total NaN
    df['TotalSpend'] = df[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(0).sum(axis=1) 
    
    print("After: ", df.shape)
    return df

In [49]:
train_df = feature_manipulation(train_df)

Before:  (8693, 14)
After:  (8693, 18)

In [50]:
test_df = feature_manipulation(test_df)

Before:  (4277, 13)
After:  (4277, 17)

In [51]:
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,DeckSide,Group,GroupSize,TotalSpend
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Ofracculy,False,BP,0001,1,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Vines,True,FS,0002,1,736.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Susent,False,AS,0003,2,10383.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Susent,False,AS,0003,2,5176.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Santantines,True,FS,0004,1,1091.0

In [52]:
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,DeckSide,Group,GroupSize,TotalSpend
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Carsoning,GS,0013,1,0.0
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Peckers,FS,0018,1,2832.0
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Unhearfus,CS,0019,1,0.0
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Caltilter,CS,0021,1,7418.0
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Harperez,FS,0023,1,645.0

## Handle Missing Data

In the first model we had a complicated approach - here we will just use the median for numeric and mode for non-numeric

In [53]:
print(f'Before: {len(train_df)} rows')
train_df.isnull().sum().sort_values(ascending = False)

Before: 8693 rows

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
DeckSide        199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
Group             0
GroupSize         0
PassengerId       0
Transported       0
TotalSpend        0
dtype: int64

In [54]:
print(f'Before: {len(test_df)} rows')
train_df.isnull().sum().sort_values(ascending = False)

Before: 4277 rows

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
DeckSide        199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
Group             0
GroupSize         0
PassengerId       0
Transported       0
TotalSpend        0
dtype: int64

In [55]:
# rows with no missing values

print(f'Before: {len(train_df)} rows')
train_nona = train_df.dropna()
print(f'After: {len(train_nona)} rows')

Before: 8693 rows
After: 6606 rows

## Apply the empty data handling

### Define functions to replace data

In [56]:
def fill_with_median(df, features):
    for feature in features:
        df[feature] = df[feature].fillna(df[feature].median())
    return df

def fill_with_mode(df, features):
    for feature in features:
        df[feature] = df[feature].fillna(df[feature].mode()[0])
    return df

def fill_with_mean(df, features):
    for feature in features:
        df[feature] = df[feature].fillna(df[feature].mean())
    return df

# Here we provide a list of other_features - if a row has a nan in a feature we will fill it with the mean of the other_features in its row 
def fill_with_mean_of_other_features(df, features, other_features):
    for feature in features:
        df[feature] = df[feature].fillna(df[other_features].mean(axis=1))
    return df

def fill_with_constant(df, features, constant):
    for feature in features:
        df[feature] = df[feature].fillna(constant)
    return df

### Apply simple rules for empty data

In [57]:
def handle_empty_data(df: pd.DataFrame) -> pd.DataFrame:
   
    # fill in missing values with a constant
    df = fill_with_constant(df, ['VIP'], False)
    df = fill_with_constant(df, ['Name', 'Cabin', 'DeckSide', 'HomePlanet', 'Destination'], 'Unknown')

    # Fill numerics with median
    df = fill_with_median(df, ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'])

    # Have a sensible
    # for the provided dataframe set CryoSleep to False if TotalSpend is greater than 0
    UnknownCryoSpender = (df["CryoSleep"].isnull() | df["CryoSleep"].isna()) & (df["TotalSpend"] > 0)
    df.loc[UnknownCryoSpender, 'CryoSleep'] = False
    df['CryoSleep'] = df['CryoSleep'].fillna('Unknown')

    return df

In [58]:
train_df = handle_empty_data(train_df)
test_df = handle_empty_data(test_df)

In [59]:
# Check the training data

train_df.isnull().sum().sort_values(ascending = False)

PassengerId     0
HomePlanet      0
GroupSize       0
Group           0
DeckSide        0
Transported     0
Name            0
VRDeck          0
Spa             0
ShoppingMall    0
FoodCourt       0
RoomService     0
VIP             0
Age             0
Destination     0
Cabin           0
CryoSleep       0
TotalSpend      0
dtype: int64

In [60]:
# Check the test data
test_df.isnull().sum().sort_values(ascending = False)

PassengerId     0
ShoppingMall    0
GroupSize       0
Group           0
DeckSide        0
Name            0
VRDeck          0
Spa             0
FoodCourt       0
HomePlanet      0
RoomService     0
VIP             0
Age             0
Destination     0
Cabin           0
CryoSleep       0
TotalSpend      0
dtype: int64

### And thats a wrap!

There are now no missing values so we can proceed to Pre-processing

# Data Preprocessing

## Quick check of the data after the empty data is filled

In [61]:
# Look at the training data after the changes to remove empty data
train_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,DeckSide,Group,GroupSize,TotalSpend
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Ofracculy,False,BP,0001,1,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Vines,True,FS,0002,1,736.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Susent,False,AS,0003,2,10383.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Susent,False,AS,0003,2,5176.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Santantines,True,FS,0004,1,1091.0

In [62]:
# Look at the test data
test_df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,DeckSide,Group,GroupSize,TotalSpend
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Carsoning,GS,0013,1,0.0
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Peckers,FS,0018,1,2832.0
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Unhearfus,CS,0019,1,0.0
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Caltilter,CS,0021,1,7418.0
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Harperez,FS,0023,1,645.0

In [63]:
# Check the shapes:

print(f'Train: {train_df.shape}')
print(f'Test: {test_df.shape}')

# Check the train and test column data types side by side
pd.concat([train_df.dtypes, test_df.dtypes], axis=1, keys=['Train', 'Test'])

Train: (8693, 18)
Test: (4277, 17)

                Train     Test
PassengerId    object   object
HomePlanet     object   object
CryoSleep      object   object
Cabin          object   object
Destination    object   object
Age           float64  float64
VIP              bool     bool
RoomService   float64  float64
FoodCourt     float64  float64
ShoppingMall  float64  float64
Spa           float64  float64
VRDeck        float64  float64
Name           object   object
Transported      bool      NaN
DeckSide       object   object
Group          object   object
GroupSize       int64    int64
TotalSpend    float64  float64

## Drop Unrequired columns

We can now drop these columns:

- Cabin
- TotalSpend
- PassengerId - may do this one last so we have the key

And to simplify for now lets also remove
- Name
- Group

In [64]:
# Drop the columns that are not required
def drop_unrequired_columns(df: pd.DataFrame) -> pd.DataFrame:
    columns_to_drop = [
        'Cabin',
        'Name',
        'RoomService', 
        'FoodCourt', 
        'ShoppingMall', 
        'Spa', 
        'VRDeck'
    ]
    df.drop(columns_to_drop, axis = 1, inplace = True)
    return df

train_df = drop_unrequired_columns(train_df)
test_df = drop_unrequired_columns(test_df)

## Prepare the data for training

- Log/Bin the numeric data
- OneHotEncoding

### Bin and OHE features

I am going to try the `KBinsDiscretizer` from sklearn - see https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.KBinsDiscretizer.html#sklearn.preprocessing.KBinsDiscretizer

In [65]:
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import FunctionTransformer

# Define pipelines for the features where we wish to bin and OHE

spending_pipeline = Pipeline([
    ('binning', KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='uniform')),
    ('onehot', OneHotEncoder())
])

age_pipeline = Pipeline([
    ('binning', KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')),
    ('onehot', OneHotEncoder())
])

categorical_pipeline = Pipeline([
    ('onehot', OneHotEncoder())
])

In [66]:
# There are some cases where we have used 'Unknown' in boolean columns that have True and False otherwise that led to an error
# complaining about a mix of str and bool so we need to convert the columns to str

# print all columns where the value is 'Unknown'
for column in train_df.columns:
    if 'Unknown' in train_df[column].unique():
        print(column)
        train_df[column] = train_df[column].astype(str)

HomePlanet
CryoSleep
Destination
DeckSide

## Run the pipeline

In [98]:
# what data looks like before pipeline
train_df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,DeckSide,Group,GroupSize,TotalSpend
0,Europa,False,TRAPPIST-1e,39.0,False,BP,0001,1,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,FS,0002,1,736.0
2,Europa,False,TRAPPIST-1e,58.0,True,AS,0003,2,10383.0
3,Europa,False,TRAPPIST-1e,33.0,False,AS,0003,2,5176.0
4,Earth,False,TRAPPIST-1e,16.0,False,FS,0004,1,1091.0

In [67]:
# Define the preprocessor

from sklearn.compose import ColumnTransformer

spending_features = ['TotalSpend'] # bin then OHE
categorical_features = ['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'DeckSide'] # OHE

preprocessor = ColumnTransformer(
    transformers=[
        ('category', categorical_pipeline, categorical_features),
        ('spending', spending_pipeline, spending_features),
        ('age', age_pipeline, ['Age'])
    ],
    remainder='passthrough'  # This leaves the rest of the columns untouched
)

In [68]:
# Now you can fit and transform the training data with the preprocessor
y = train_df.pop('Transported')
i = train_df.pop('PassengerId')
X = preprocessor.fit_transform(train_df).toarray() # sparse to dense array

# Time to attempt the modelling

## Split the data to create a validation set

In [69]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Instantiation of the models

In [70]:
classifiers = {
    'LogisticRegression': LogisticRegression(),
    'Perceptron': Perceptron(),
    'SVC': SVC(),
    'KNN': KNeighborsClassifier(n_neighbors = 5),
    'DecisionTree': DecisionTreeClassifier(),
    'Gaussian': GaussianNB(),
    'RandomForest': RandomForestClassifier(),
    'LinearSvc': LinearSVC(),
    'SGDClassifier': SGDClassifier(),
    # 'CatBoost': CatBoostClassifier(verbose=0),
    'XGBoost': XGBClassifier(use_label_encoder=False, eval_metric='logloss')
}

## Train the models

### Evaluate model

In [71]:
def score_model(classifier, X_train, X_val, y_train, y_val):
    # Fit the model
    classifier.fit(X_train, y_train)

    # Predict the test data
    y_pred = classifier.predict(X_val)

    # Create a confusion matrix
    cm = confusion_matrix(y_val, y_pred)

    # Calculate the accuracy
    acc = accuracy_score(y_val, y_pred)

    scores = cross_val_score(classifier, X_train, y_train, cv = 10)

    return { 
            'confusion_matrix': cm,
            'accuracy': acc,
            'kfold-cv': scores.mean()
        }

def run_classifiers(classifiers: dict, X_train, X_test, y_train, y_val) -> dict:
    results = {}
    for name, classifier in classifiers.items():
        results[name] = score_model(classifier, X_train, X_test, y_train, y_val)
    return results

results = run_classifiers(classifiers, X_train, X_val, y_train, y_val)

In [72]:
# convert results to a dataframe
results_df = pd.DataFrame(results).T
results_df.sort_values(by='kfold-cv', ascending=False)

                            confusion_matrix  accuracy  kfold-cv
XGBoost             [[862, 215], [357, 740]]  0.736891   0.72557
LogisticRegression  [[897, 180], [421, 676]]  0.723551  0.723886
Gaussian            [[833, 244], [352, 745]]  0.725851  0.719591
RandomForest        [[773, 304], [350, 747]]  0.699172  0.694127
DecisionTree        [[718, 359], [367, 730]]  0.666053  0.667434
SVC                 [[624, 453], [551, 546]]  0.538178  0.538116
LinearSvc           [[690, 387], [421, 676]]  0.628335  0.534446
KNN                 [[553, 524], [517, 580]]  0.521159  0.522931
Perceptron            [[0, 1077], [0, 1097]]    0.5046  0.502683
SGDClassifier         [[3, 1074], [1, 1096]]   0.50552  0.500843

## Tuning the two best models

In [79]:
search_grid = GridSearchCV(
    estimator = XGBClassifier(),
    param_grid = {
        'max_depth': [3, 5, 7, 9],
        'n_estimators': [100, 200, 300, 400]
    },
    refit = True, 
    verbose = 3
)

In [80]:
# Fit the model
search_grid.fit(X_train, y_train)

# print best parameter after tuning 
print(search_grid.best_params_) 

# print how our model looks after hyper-parameter tuning 
print(search_grid.best_estimator_)

Fitting 5 folds for each of 16 candidates, totalling 80 fits
[CV 1/5] END .....max_depth=3, n_estimators=100;, score=0.737 total time=   0.1s
[CV 2/5] END .....max_depth=3, n_estimators=100;, score=0.748 total time=   0.0s
[CV 3/5] END .....max_depth=3, n_estimators=100;, score=0.750 total time=   0.0s
[CV 4/5] END .....max_depth=3, n_estimators=100;, score=0.751 total time=   0.0s
[CV 5/5] END .....max_depth=3, n_estimators=100;, score=0.757 total time=   0.0s
[CV 1/5] END .....max_depth=3, n_estimators=200;, score=0.739 total time=   0.1s
[CV 2/5] END .....max_depth=3, n_estimators=200;, score=0.745 total time=   0.1s
[CV 3/5] END .....max_depth=3, n_estimators=200;, score=0.751 total time=   0.1s
[CV 4/5] END .....max_depth=3, n_estimators=200;, score=0.748 total time=   0.1s
[CV 5/5] END .....max_depth=3, n_estimators=200;, score=0.756 total time=   0.1s
[CV 1/5] END .....max_depth=3, n_estimators=300;, score=0.738 total time=   0.1s
[CV 2/5] END .....max_depth=3, n_estimators=300;, score=0.733 total time=   0.1s
[CV 3/5] END .....max_depth=3, n_estimators=300;, score=0.743 total time=   0.1s
[CV 4/5] END .....max_depth=3, n_estimators=300;, score=0.735 total time=   0.1s
[CV 5/5] END .....max_depth=3, n_estimators=300;, score=0.746 total time=   0.1s
[CV 1/5] END .....max_depth=3, n_estimators=400;, score=0.737 total time=   0.1s
[CV 2/5] END .....max_depth=3, n_estimators=400;, score=0.732 total time=   0.1s
[CV 3/5] END .....max_depth=3, n_estimators=400;, score=0.738 total time=   0.1s
[CV 4/5] END .....max_depth=3, n_estimators=400;, score=0.732 total time=   0.1s
[CV 5/5] END .....max_depth=3, n_estimators=400;, score=0.739 total time=   0.1s
[CV 1/5] END .....max_depth=5, n_estimators=100;, score=0.719 total time=   0.1s
[CV 2/5] END .....max_depth=5, n_estimators=100;, score=0.732 total time=   0.0s
[CV 3/5] END .....max_depth=5, n_estimators=100;, score=0.744 total time=   0.1s
[CV 4/5] END .....max_depth=5, n_estimators=100;, score=0.725 total time=   0.1s
[CV 5/5] END .....max_depth=5, n_estimators=100;, score=0.740 total time=   0.1s
[CV 1/5] END .....max_depth=5, n_estimators=200;, score=0.712 total time=   0.1s
[CV 2/5] END .....max_depth=5, n_estimators=200;, score=0.723 total time=   0.1s
[CV 3/5] END .....max_depth=5, n_estimators=200;, score=0.734 total time=   0.1s
[CV 4/5] END .....max_depth=5, n_estimators=200;, score=0.712 total time=   0.1s
[CV 5/5] END .....max_depth=5, n_estimators=200;, score=0.724 total time=   0.1s
[CV 1/5] END .....max_depth=5, n_estimators=300;, score=0.701 total time=   0.1s
[CV 2/5] END .....max_depth=5, n_estimators=300;, score=0.715 total time=   0.1s
[CV 3/5] END .....max_depth=5, n_estimators=300;, score=0.721 total time=   0.2s
[CV 4/5] END .....max_depth=5, n_estimators=300;, score=0.701 total time=   0.1s
[CV 5/5] END .....max_depth=5, n_estimators=300;, score=0.719 total time=   0.1s
[CV 1/5] END .....max_depth=5, n_estimators=400;, score=0.692 total time=   0.2s
[CV 2/5] END .....max_depth=5, n_estimators=400;, score=0.709 total time=   0.2s
[CV 3/5] END .....max_depth=5, n_estimators=400;, score=0.716 total time=   0.2s
[CV 4/5] END .....max_depth=5, n_estimators=400;, score=0.701 total time=   0.2s
[CV 5/5] END .....max_depth=5, n_estimators=400;, score=0.712 total time=   0.1s
[CV 1/5] END .....max_depth=7, n_estimators=100;, score=0.719 total time=   0.1s
[CV 2/5] END .....max_depth=7, n_estimators=100;, score=0.719 total time=   0.1s
[CV 3/5] END .....max_depth=7, n_estimators=100;, score=0.729 total time=   0.1s
[CV 4/5] END .....max_depth=7, n_estimators=100;, score=0.720 total time=   0.1s
[CV 5/5] END .....max_depth=7, n_estimators=100;, score=0.723 total time=   0.1s
[CV 1/5] END .....max_depth=7, n_estimators=200;, score=0.701 total time=   0.1s
[CV 2/5] END .....max_depth=7, n_estimators=200;, score=0.702 total time=   0.1s
[CV 3/5] END .....max_depth=7, n_estimators=200;, score=0.715 total time=   0.2s
[CV 4/5] END .....max_depth=7, n_estimators=200;, score=0.706 total time=   0.2s
[CV 5/5] END .....max_depth=7, n_estimators=200;, score=0.713 total time=   0.1s
[CV 1/5] END .....max_depth=7, n_estimators=300;, score=0.698 total time=   0.2s
[CV 2/5] END .....max_depth=7, n_estimators=300;, score=0.695 total time=   0.2s
[CV 3/5] END .....max_depth=7, n_estimators=300;, score=0.708 total time=   0.2s
[CV 4/5] END .....max_depth=7, n_estimators=300;, score=0.698 total time=   0.2s
[CV 5/5] END .....max_depth=7, n_estimators=300;, score=0.705 total time=   0.2s
[CV 1/5] END .....max_depth=7, n_estimators=400;, score=0.696 total time=   0.2s
[CV 2/5] END .....max_depth=7, n_estimators=400;, score=0.696 total time=   0.2s
[CV 3/5] END .....max_depth=7, n_estimators=400;, score=0.706 total time=   0.2s
[CV 4/5] END .....max_depth=7, n_estimators=400;, score=0.699 total time=   0.3s
[CV 5/5] END .....max_depth=7, n_estimators=400;, score=0.701 total time=   0.2s
[CV 1/5] END .....max_depth=9, n_estimators=100;, score=0.706 total time=   0.1s
[CV 2/5] END .....max_depth=9, n_estimators=100;, score=0.719 total time=   0.1s
[CV 3/5] END .....max_depth=9, n_estimators=100;, score=0.710 total time=   0.1s
[CV 4/5] END .....max_depth=9, n_estimators=100;, score=0.702 total time=   0.1s
[CV 5/5] END .....max_depth=9, n_estimators=100;, score=0.711 total time=   0.1s
[CV 1/5] END .....max_depth=9, n_estimators=200;, score=0.696 total time=   0.2s
[CV 2/5] END .....max_depth=9, n_estimators=200;, score=0.707 total time=   0.2s
[CV 3/5] END .....max_depth=9, n_estimators=200;, score=0.702 total time=   0.2s
[CV 4/5] END .....max_depth=9, n_estimators=200;, score=0.698 total time=   0.2s
[CV 5/5] END .....max_depth=9, n_estimators=200;, score=0.701 total time=   0.2s
[CV 1/5] END .....max_depth=9, n_estimators=300;, score=0.688 total time=   0.2s
[CV 2/5] END .....max_depth=9, n_estimators=300;, score=0.693 total time=   0.3s
[CV 3/5] END .....max_depth=9, n_estimators=300;, score=0.708 total time=   0.2s
[CV 4/5] END .....max_depth=9, n_estimators=300;, score=0.696 total time=   0.2s
[CV 5/5] END .....max_depth=9, n_estimators=300;, score=0.704 total time=   0.2s
[CV 1/5] END .....max_depth=9, n_estimators=400;, score=0.690 total time=   0.3s
[CV 2/5] END .....max_depth=9, n_estimators=400;, score=0.692 total time=   0.3s
[CV 3/5] END .....max_depth=9, n_estimators=400;, score=0.696 total time=   0.3s
[CV 4/5] END .....max_depth=9, n_estimators=400;, score=0.692 total time=   0.4s
[CV 5/5] END .....max_depth=9, n_estimators=400;, score=0.705 total time=   0.3s
{'max_depth': 3, 'n_estimators': 100}
XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=3, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [81]:
# Print the confusion matrix with labels for TP, FP, TN, FN
def print_confusion_matrix(cm: np.ndarray):
    # True Positives
    TP = cm[1, 1]
    # True Negatives
    TN = cm[0, 0]
    # False Positives
    FP = cm[0, 1]
    # False Negatives
    FN = cm[1, 0]

    # Now we have extracted the values print as a grid
    print(f'True Positives: {TP} False Positives: {FP}')
    print(f'False Negatives: {FN} True Negatives: {TN}')

In [82]:
# Extract the best two from the grid search
xgb_optimal = search_grid.best_estimator_

In [83]:
# Score the optimised SVC
svc_optimal_result = score_model(xgb_optimal, X_train, X_val, y_train, y_val)

In [84]:
# Print the results

print(f'Best SVC Accuracy: { svc_optimal_result["accuracy"] }')
print(f'Best SVC KFold CV: { svc_optimal_result["kfold-cv"] }')
print('\nConfusion Matrix:')
print_confusion_matrix(svc_optimal_result['confusion_matrix'])

# and finally the f1 score
print(f'F1 Score: {f1_score(y_val, xgb_optimal.predict(X_val))}')

Best SVC Accuracy: 0.7488500459981601
Best SVC KFold CV: 0.743213131284574

Confusion Matrix:
True Positives: 746 False Positives: 195
False Negatives: 351 True Negatives: 882
F1 Score: 0.732090284592738

### LogisticRegression

In [85]:
search_grid = GridSearchCV(
    estimator = LogisticRegression(),
    param_grid = {
        'C': [0.1, 1, 10, 100, 1000],
        'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
    },
)

In [86]:
# Fit the model
search_grid.fit(X_train, y_train)

# print best parameter after tuning 
print(search_grid.best_params_) 

# print how our model looks after hyper-parameter tuning 
print(search_grid.best_estimator_)

{'C': 1000, 'solver': 'newton-cg'}
LogisticRegression(C=1000, solver='newton-cg')

In [87]:
# Extract the best SVC from the grid search
logreg_optimal = search_grid.best_estimator_

In [88]:
# Score the optimised LogisticRegression
logreg_optimal_result = score_model(logreg_optimal, X_train, X_val, y_train, y_val)

In [89]:
# Print the results

print(f'Best SVC Accuracy: { logreg_optimal_result["accuracy"] }')
print(f'Best SVC KFold CV: { logreg_optimal_result["kfold-cv"] }')
print('\nConfusion Matrix:')
print_confusion_matrix(logreg_optimal_result['confusion_matrix'])

# and finally the f1 score
print(f'F1 Score: {f1_score(y_val, logreg_optimal.predict(X_val))}')

Best SVC Accuracy: 0.7391904323827047
Best SVC KFold CV: 0.7277199777595581

Confusion Matrix:
True Positives: 727 False Positives: 197
False Negatives: 370 True Negatives: 880
F1 Score: 0.7194458189015339

## Create submission

Now we can predict the test set and submit

In [90]:
# Convert any Boolean columns with Unknown to String type
for column in test_df.columns:
    if 'Unknown' in test_df[column].unique():
        print(column)
        test_df[column] = test_df[column].astype(str)

HomePlanet
CryoSleep
Destination
DeckSide

In [91]:
# Check the shape

print(f'Test: {test_df.shape}')

# Print the first 5 rows:
test_df.head()

Test: (4277, 10)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,DeckSide,Group,GroupSize,TotalSpend
0,0013_01,Earth,True,TRAPPIST-1e,27.0,False,GS,0013,1,0.0
1,0018_01,Earth,False,TRAPPIST-1e,19.0,False,FS,0018,1,2832.0
2,0019_01,Europa,True,55 Cancri e,31.0,False,CS,0019,1,0.0
3,0021_01,Europa,False,TRAPPIST-1e,38.0,False,CS,0021,1,7418.0
4,0023_01,Earth,False,TRAPPIST-1e,20.0,False,FS,0023,1,645.0

In [92]:
# Capture the passenger IDs for submission and remove from the data as not useful predictors
idx_test = test_df.pop('PassengerId')

In [93]:
# Pre-process test set
X_test = preprocessor.transform(test_df).toarray() # sparse to dense array

In [96]:
# Predict the test set
y_pred = xgb_optimal.predict(X_test).astype(bool)

In [97]:
# Write the submission DataFrame
submission = pd.DataFrame({'PassengerId': idx_test, 'Transported': y_pred})
submission.to_csv(f'submissions/{model}/submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!